
<!-- Banner  -->
<div class="banner">
  <div class="nvb">

    <!-- Logo -->
    <a href="/" class="nvb-brand"><%= image_tag "baby_logo_white.png" %></a>

    <!-- Right Navigation -->
    <div class="nvb-right hidden-xs hidden-sm">

      <!-- Profile picture and dropdown -->
      <% if current_user %>
      <div class="nvb-item">
        <div class="dropdown">
          <%= link_to 'Add a Child', new_account_child_path, class:"btn btn-rectangle" %>
          <% if user_signed_in? && current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar-large dropdown-toggle", id: "nvb-menu", 'data-toggle' => "dropdown"  %>
            <% else %>
            <img src="http://rhone-alpes.nouscitoyens.fr/wp-content/uploads/sites/2/2014/11/avatar-profil-facebook-1.jpg" id="nvb-menu" data-toggle="dropdown" class="avatar-large dropdown-toggle">
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right nvb-dropdown-menu">
            <li><%= link_to 'Profile', account_profile_path(current_user) %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <% else %>
      <ul class="list-inline">
        <li><%= link_to 'Add a Child', new_user_session_path, class:"btn btn-rectangle" %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class:"btn btn-medium" %></li>
        <li><%= link_to 'Log in', new_user_session_path, class:"btn btn-medium" %></li>
      </ul>
      <% end %>

    </div>

      <!-- Dropdown appearing on mobile only -->

    <div class="nvb-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right nvb-dropdown-menu">
        <% if current_user %>
          <li><%= link_to 'Profile', account_profile_path(current_user) %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner-content text-center">
    <h1>AIRBABY</h1>
    <p>Don't bother having one. Rent one.</p>
  </div>

  <div class="search-field hidden-xs">
    <p>Recherchez parmi plus de 2 millions d'enfants dans plus de 190 pays</p>
    <form action="#" class="form-inline">
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-3"><input type="text" class="form-control" placeholder="où ?"></div>
          <div class="col-sm-2"><input type="text" class="form-control" placeholder="Arrivée"></div>
          <div class="col-sm-2"><input type="text" class="form-control" placeholder="Départ"></div>
          <div class="col-sm-3"><input type="submit" class="btn btn-primary " value="Rechercher"></div>
        </div>
      </div>
    </form>
  </div>

  <div class="search-field visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-7"><input type="text" class="form-control" placeholder="où"></div>
        <div class="col-xs-4"><input type="submit" class="btn btn-primary " value="Rechercher"></div>
      </div>
    </div>
  </div>

</div>


<div id="wrapper">
  <div class="container grey">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 intertext">
        <h1>Open your door to a new life for a day</h1>
        <h2>Discover new, inspiring baby close to your home.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded features">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
      <%= image_tag "game.png" %>
      <h2>Play</h2>
      <p>Play with him like a father.</p>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "baby.png" %>
     <h2>Discover</h2>
     <p>Discover new babys every day.</p>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "couche.png" %>
     <h2>Learn</h2>
     <p>Lear to be a real father.Change Diapers.</p>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "transport.png" %>
     <h2>Ride</h2>
     <p>Join a riding community you will love.</p>
   </div>

 </div>
</div>

<div id="wrapper">
  <div class="container grey">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 intertext">
        <h1>Open your door to a new life for a day</h1>
        <h2>Discover new, inspiring baby close to your home.</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%  @children.each do |child| %>
      <div class="col-xs-12 col-md-4 col-sm-6">

        <div class="card center">
          <div class="image"  style="background-image: url('<%= image_url child.photo %>')">
            <h3><%= child.name %></h3>
            <%= link_to '', account_child_path(child), class: 'card-link' %>
          </div>
          <h2><%= child.description %></h2>

          <% ratings = [] %>
          <% child.reviews.each do |review| %>
          <% ratings << review.rating %>
          <% end %>
          <% if !ratings.empty? %>
          <% average_rating = (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round %>
          <% end %>

          <% if !ratings.empty? %>
          <div class="rating">
            <ul class="list-inline">
              <% average_rating.times do |star| %>
              <i class="fa fa-star" style="color: #ffb400"></i>
              <% end %>
              <% (5 - average_rating).times do |star| %>
              <i class="fa fa-star" style="color: #cacccd"></i>
              <% end %>
            </ul>
          </div>
          <% end %>

          <% if user_signed_in? && current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"card-user avatar-xlarge", 'data-toggle' => "dropdown"  %>
          <% end %>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>









