<div class="banner">
  <div class="nvb">

    <!-- Logo -->
    <a href="/" class="nvb-brand"><%= image_tag "baby_logo_white.png" %></a>

    <!-- Right Navigation -->
    <div class="nvb-right hidden-xs hidden-sm">

      <!-- Profile picture and dropdown -->
      <% if current_user %>
      <div class="nvb-item">
        <div class="dropdown">
          <%= link_to 'Add a Child', new_account_child_path, class:"btn btn-rectangle" %>
          <%= link_to 'Catalogue', children_path, class:"btn-medium-2" %>
          <% if user_signed_in? && current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar-large dropdown-toggle", id: "nvb-menu", 'data-toggle' => "dropdown"  %>
          <% else %>
          <img src="http://rhone-alpes.nouscitoyens.fr/wp-content/uploads/sites/2/2014/11/avatar-profil-facebook-1.jpg" id="nvb-menu" data-toggle="dropdown" class="avatar-large dropdown-toggle">
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right nvb-dropdown-menu">
            <li><%= link_to 'Profile', account_profile_path(current_user.profile) %></li>
            <li><%= link_to 'Favorites', account_favorites_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <% else %>
      <ul class="list-inline">
        <li><%= link_to 'Add a Child', new_account_child_path, class:"btn btn-rectangle" %></li>
        <li><%= link_to 'Catalogue', children_path, class:"btn-medium-white" %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class:"btn-medium-white" %></li>
        <li><%= link_to 'Log in', new_user_session_path, class:"btn-medium-white" %></li>
      </ul>
      <% end %>

    </div>



    <!-- Dropdown appearing on mobile only -->

    <div class="nvb-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right nvb-dropdown-menu">
          <% if current_user %>
          <li><%= link_to 'Add a Child', new_account_child_path %></li>
          <li><%= link_to 'Profile', account_profile_path(current_user) %></li>
          <li><%= link_to 'Favorites', account_favorites_path %></li>
          <li><%= link_to 'Catalogue', children_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Add a Child', new_account_child_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

    <div class="banner-content text-center">
      <h1>AIRBABY</h1>
      <p> Get ready to be the perfect Daddy.</p>
    </div>

  <div class="search-field">
    <p>Recherchez parmi plus de 2 millions d'enfants dans plus de 190 pays</p>
    <div class="form-inline">
      <div class="search-field">
      <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
          <div class="col-sm-3 col-sm-offset-3 col-xs-7">
            <%= form_tag url_for(action: 'index', controller: 'account/children'), method: :get do %>
              <%= text_field_tag :center, params[:center], placeholder: "Where?", class: "form-control" %>
            <% end %>
          </div>
          <div class="col-sm-3"><input type="submit" class="btn btn-primary " value="Rechercher"></div>
        </div>
      </div>
    </div>
     </div>
  </div>
</div>


<div id="wrapper">
  <div class="container grey">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 intertext">
        <h1>BE PREPARED.</h1>
        <h2>Almost all fathers-to-be have some kind of anxiety. How about renting a Baby for a day.
        Train on a new born and be ready on D-Day.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded features">
  <div class="row">
      <h1>LEARN HOW TO.</h1> <br><br>
    <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
      <%= image_tag "game.png" %>
      <h2>Play with him </h2>
      <p>Teddy bear, children toys and games. Learn to play how with him.</p>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "biberon.png" %>
     <h2>Feed her</h2>
     <p>Baby Bottle, purée, compottes. Learn how to feed her.</p>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "couche.png" %>
     <h2>Change him</h2>
     <p>Changing diapers and cleaning his butt will have any secret for you.</p>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-3 padded-small">
     <%= image_tag "transport.png" %>
     <h2>Ride her</h2>
     <p>Get prepared to driving a pushchair and to drive her to nursery.</p>
   </div>

  </div>
</div>

<div id="wrapper">

  <div class="container grey">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 intertext">
        <h1>Choose the one that suits you.</h1>
        <h2>Search over 2 million babys in over 190 countries.</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%  @children.shuffle.first(9).each do |child| %>
      <div class="col-xs-12 col-md-4 col-sm-6">

        <div class="card center">
          <div class="image"  style="background-image: linear-gradient(50deg, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('<%= image_url child.photo %>')">

            <h3><%= child.name %></h3>
            <%= link_to '', account_child_path(child), class: 'card-link' %>
          </div>
          <h2><%= child.description %></h2>

          <% ratings = [] %>
          <% child.reviews.each do |review| %>
            <% ratings << review.rating %>
          <% end %>
          <% if !ratings.empty? %>
            <% average_rating = (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round %>
          <% end %>

          <% if !ratings.empty? %>
            <div class="rating">
              <ul class="list-inline">
                <% average_rating.times do |star| %>
                  <i class="fa fa-star" style="color: #ffb400"></i>
                <% end %>
                <% (5 - average_rating).times do |star| %>
                  <i class="fa fa-star" style="color: #cacccd"></i>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= image_tag child.user.facebook_picture_url || '' , class:"card-user avatar-xlarge", 'data-toggle' => "dropdown"  %>
        </div>

      </div>
      <% end %>
    </div>
  </div>

  <div class="container text-center padded-small">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= link_to 'See more', children_path, class:"btn btn-medium" %>
      </div>
    </div>
  </div>
</div>


<div class="container text-center padded features intertext">
  <div class="row">
      <h1>SATISFIED CUSTOMERS.</h1>
      <h2>Fathers-to-be. They tried it. They loved it.</h2>
      <br><br>

    <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
      <%= image_tag "amed.jpg", class:"avatar-xxlarge" %>
      <h2>Julien C. </h2>
      <p>I will recommand Airbaby to every fathers-to-be. My husband and I loved it.</p>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
     <%= image_tag "jhon.jpg", class:"avatar-xxlarge" %>
     <h2>Paul K.</h2>
     <p>Thanks to Airbaby I was able to train to changing diapers before D-day .</p>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
     <%= image_tag "youri.jpg", class:"avatar-xxlarge" %>
     <h2>Jonathan V.</h2>
     <p>I manage to train breast feeding before the birth of my little boy. Thanks Airbaby.</p>
   </div>

  </div>
</div>


<div class="intertext">


      <div class="container text-center padded features intertext">
  <div class="row">
      <h1>TALKING OF US.</h1>
      <h2>They tried it. They loved it. They shared about it.</h2>
      <br><br>

    <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
      <%= image_tag "neufmois.png", class:"logo" %>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
     <%= image_tag "americanbaby.jpg", class:"logo" %>
   </div>

   <div class="col-xs-12 col-sm-6 col-md-4 padded-small">
     <%= image_tag "figaro.png", class:"logo" %>
   </div>

  </div>
</div>



</div>










