<div class="container profile-page">
  <div class="row profile">
    <div class="col-md-3">

      <div class="profile-sidebar">
        <div class="profile-userpic text-center ">

          <% if user_signed_in? && current_user.facebook_picture_url %>
              <%= image_tag current_user.facebook_picture_url %>
            <% else %>
               <img src="http://rhone-alpes.nouscitoyens.fr/wp-content/uploads/sites/2/2014/11/avatar-profil-facebook-1.jpg" >
          <% end %>

        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <% if user_signed_in? && current_user.facebook_picture_url %>
              <%= current_user.first_name %>
              <%= current_user.last_name %>
              <% else %>
          <%= @profile.name %>
          <% end %>
          </div>
          <div class="profile-usertitle-description">
            <%= @profile.description %>
          </div>
        </div>
        <div class="small-button">
          <%= link_to 'Edit', edit_account_profile_path(@profile), class:"btn btn-primary" %>
          <%= link_to 'Delete', account_profile_path(@profile), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>

    <div class="col-md-5 ">
    <h3 class="hidden-xs">INFORMATIONS</h3>
      <div class="user-infos ">
        <p> Adress: <%= @profile.address %> </p>
        <p> Sex: <%= @profile.sex %> </p>
        <p> Age: <%= @profile.age %> </p>
        <% if @profile.credit_card %>
        <p> Credit Card: <%= @profile.credit_card.first(2) + "*************" + @profile.credit_card.last(2) %> </p>
        <% end %>
        <p> Description: <%= @profile.description %> </p>
      </div>
    </div>

    <div class="col-md-4 ">
        <h3>MY BABYS</h3>
          <% @children.each do | child |%>
            <% if child.user == current_user %>

            <div class="card-small-image"  style="background-image: url('<%= image_url child.photo %>')">
                <%= link_to '', account_child_path(child), class: 'card-link' %>
            </div>
          <% end %>
        <% end %>
    <div class="small-button">
      <%= link_to 'Add a child', new_account_child_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
