    <div class="col-xs-12 col-md-4 col-sm-6">

     <div class="card-map center">
      <div class="image"  style="background-image: url('<%= image_url child.photo %>')">
      <%= link_to child.user_favorite?(current_user.id) ? 'javascript:void(0)' : child_favorites_path(child), method: :post do %>
            <div class="card-favorite <%= 'favorite' if child.user_favorite?(current_user.id) %>" data-child="<%=child.id %>"><i class="fa fa-heart" aria-hidden="true"></i></div>
          <% end %>
        <h3><%= child.name %></h3>
        <%= link_to '', account_child_path(child), class: 'card-link' %>
      </div>
      <h2><%= child.description %></h2>

      <% ratings = [] %>
      <% child.reviews.each do |review| %>
      <% ratings << review.rating %>
      <% end %>
      <% if !ratings.empty? %>
      <% average_rating = (ratings.inject{ |sum, el| sum + el }.to_f / ratings.size).round %>
      <% end %>

      <% if !ratings.empty? %>
      <div class="rating">
        <ul class="list-inline">
          <% average_rating.times do |star| %>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <% end %>
          <% (5 - average_rating).times do |star| %>
          <i class="fa fa-star" style="color: #cacccd"></i>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= image_tag child.user.facebook_picture_url || '', class:"card-user avatar", 'data-toggle' => "dropdown"  %>
    </div>

  </div>
