<h1><%= @child.name %></h1>

<%= link_to 'edit', edit_account_child_path(@child) %>

<li><%= @child.address %></li>
<li><%= @child.age %></li>
<li><%= @child.sex %></li>
<li><%= @child.description %></li>

<%= link_to 'back', account_children_path %>
